<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="estudiante in estudiantes">
                {{ estudiante.nombre }} : {{ estudiante.edad }}
            </li>
        </ul>
        <hr>
        <span>Escibir un nick: </span>
        <input type="text" v-model="nick" name="nick" id="nick">
        <h1>
            {{ nick }}
        </h1>
        <hr>

        <input type="number" v-model="base" name="base" id="base">
        <input type="number" v-model="altura" name="altura" id="altura">
        <h1 v-bind="areaRectangulo">
            {{ areaRectangulo }}
        </h1>
    </div>

    
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="index.js"></script>
</html>